{% extends 'core/base.html' %} <!-- Invoca la plantilla "base.html" -->
<!-- Bloque particular de esta página -->
{% load static %} <!-- carga contenido estático-->
{% block title %}Catálogo{% endblock %} <!--Bloque de título para esta página -->

<!--bloque de imagen de fondo-->
{% block background %}{% static 'core/img/home-bg.jpg' %}{% endblock %}
<!--bloque de título y subtítulo-->
{% block headers %}
    <h2>:: Artistas ::</h2>
    <span class="subheading">{{musico.nombreArt}}</span>
{% endblock %}

{% block content %}
    <div>
         <div class="col-lg-5 col-md-4 offset-lg-1">
         <!-- ImageField tiene atributo url que genera ruta correcta automáticamente ocupando variable MEDIA_URL en settings.py -->
            <img class="img-fluid" src="{{musico.imgMusico.url}}" alt="">
            <p>Nombre Artístico: {{musico.nombreArt}}</p>
            <p>Nombre Real: {{musico.nombreReal}}</p>
            <!-- INSERTAR ACÁ BANDAS, ROLES Y PRODUCCIONES -->
            <br>
            <p>Bandas:</p>
            {% for integrantes in integranteBanda %} <!--TODOS LOS INTEGRANTES DE BANDAS-->
                {% if integrantes.musico_id == musico.id %} <!-- BANDA(S) DE ESTE ID DE MÚSICO-->
                    <p><a href="{% url 'banda' integrantes.banda.id %}">{{integrantes.banda.nombreBanda}}</a>
                    <!--Carga roles en la banda desde el modelo y busca según índice del rol del artista--> 
                    {% for indice, item in integrantes.ROL_BANDA %}
                        {% if indice == integrantes.rol %}
                            ({{item}})
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}    
            <br>
            <p>Producciones (Colaboraciones):</p>
            {% for produccion in produccionDisco %} <!--TODOS LOS MÚSICOS COLABORADORES-->
                {% if produccion.musico_id == musico.id %} <!-- COLABORACIONES DE ESTE ID DE MÚSICO-->
                    <p>
                    <a class="navbar-brand" href="{% url 'disco' produccion.disco.id %}"><img class="img-fluid" src="{{produccion.disco.caratula.url}}" alt=""></a>
                    <a href="{% url 'disco' produccion.disco.id %}">{{produccion.disco.titulo}}</a>
                    </p>
                    <p>Rol: <!--Carga roles desde el modelo y busca según índice del rol del artista-->
                        {% for indice, item in produccion.ROL_PRODUCCION %}
                            {% if indice == produccion.rol %}
                                {{item}}
                            {% endif %}
                        {% endfor %}
                        </p>
                    <p>Descripción: {{produccion.descripcion}}</p>
                    <br>
                {% endif %}
            {% endfor %} 
            <!--************************************************-->
            {% if musico.link_ig %}
                <p><a href="{{musico.link_ig}}" target="_blank">Instagram</a></p>
            {% endif %}
            {% if musico.link_fb %}
                <p><a href="{{musico.link_fb}}" target="_blank">Facebook</a></p>
            {% endif %}
            {% if musico.link_tw %}
                <p><a href="{{musico.link_tw}}" target="_blank">Twitter</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %} 